# The stuff we'll be covering 
1) An end to end Sklearn workflow
2) Getting the data ready
3) Choose the right estimator/algorithm for our problems
4) Fit the model/algorithm and use it to make predictions on our data
5) Evaluating a model
6) Improve a model
7) Save and load a trained model
8) Putting it all together!

# 1) An end to end Sklearn workflow

In [3]:
import pandas as pd
import numpy as np
h_d = pd.read_csv("data/heart-disease.csv")
h_d

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create an x
x = h_d.drop("target", axis = 1 )

# Create an y
y = h_d["target"]

# 2) Choose the right model and hyperparameters

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# 3) Fit the model to the data

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

clf.fit(x_train, y_train);

# Make a prediction

In [7]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,76,0,2,140,197,0,2,116,0,1.1,1,0,2
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2

In [8]:
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0])

In [9]:
num_patients = len(x_test)
print(f"Number of patients in x_test: {num_patients} after training and splitting")

Number of patients in x_test: 61 after training and splitting

# 4.  Evaluate the model

In [10]:
clf.score(x_test, y_test)

0.8852459016393442

In [11]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88        27
           1       0.94      0.85      0.89        34

    accuracy                           0.89        61
   macro avg       0.88      0.89      0.88        61
weighted avg       0.89      0.89      0.89        61

In [12]:
print(confusion_matrix(y_test, y_preds))

[[25  2]
 [ 5 29]]

In [13]:
print(accuracy_score(y_test, y_preds))

0.8852459016393442

# 5 Improve a model

In [14]:
np.random.seed(42)

In [15]:
for i in range(10,100,10):
    print(f"Trying a model with {i}")
    clf = RandomForestClassifier(n_estimators = i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100: .2f}")
    print("")

Trying a model with 10
Model accuracy on test set:  85.25

Trying a model with 20
Model accuracy on test set:  85.25

Trying a model with 30
Model accuracy on test set:  83.61

Trying a model with 40
Model accuracy on test set:  86.89

Trying a model with 50
Model accuracy on test set:  85.25

Trying a model with 60
Model accuracy on test set:  88.52

Trying a model with 70
Model accuracy on test set:  91.80

Trying a model with 80
Model accuracy on test set:  90.16

Trying a model with 90
Model accuracy on test set:  86.89

#  6 Save the model

In [16]:
import pickle
pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [17]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8688524590163934